@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --red: #FF492F;
    --green: #078E14;
    --yellow: #FF9F1C;
}

* {
    transition: all 0.3s;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0.6rem;
    height: 7px;
    background: transparent;
    border: 1px solid var(--red)
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--red);
}

/* text */
.text-red {
    color: var(--red);
}

.text-green {
    color: var(--green);
}

.text-yellow {
    color: var(--yellow);
}

/* bg */
.bg-red {
    background: var(--red);
}

.bg-green {
    background: var(--green);
}

.bg-yellow {
    background: var(--yellow);
}

header {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/home-bg.png);
}

nav a {
    font-family: 'Lato', sans-serif !important;
}

.banner-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 70px);
}

.banner-content h1 {
    font-size: 65px;
}

@media (max-width: 767px) {
    .banner-content h1 {
        font-size: 45px;
    }
}

.card {
    cursor: pointer;
}

.img-with-cost {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.img-with-cost .cost::before {
    right: 20px;
    bottom: 20px;
    font-size: 20px;
    color: var(--red);
    background: #fff;
    padding: 16px 12px;
    position: absolute;
    content: attr(data-cost);
}

.img-with-cost img {
    width: 100%;
}

.img-with-cost:hover img {
    transform: scale(1.150);
}

.card {
    overflow: hidden;
    border-radius: 10px;
}

.line-trough {
    position: relative;
    padding-left: 150px;
}

.line-trough::before {
    content: "";
    top: 50%;
    left: 0;
    height: 4px;
    width: 110px;
    font-size: 5px;
    position: absolute;
    display: inline-block;
    background: var(--red);
}

.quote {
    position: relative;
}

.quote::before {
    top: -30px;
    left: -30px;
    content: "❝";
    font-size: 50px;
    color: var(--red);
    position: absolute;
}

#client {
    max-height: 75vh;
}

.box {
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.scroll-auto {
    overflow: auto;
}

.same-width {
    width: 500px;
}

footer {
    padding: 50px 0;
    margin-top: 30vh;
}

.social-icons a {
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
}